<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Import file... -->
    <%- include layout %>

    <!-- Grid layouts -->
    <div class="container-fluid">
        <div class="col">
        <br>

          <!-- Card -->
          <div class="card">
            <div class="card-body">
              <h1>MuS</h1>
              <p>Welcome to Mus where you can listen to every music and song.</p>
              <a href="/library" class="btn btn-success active" role="button">Library</a>
            </div>
          </div>

        </div>
    </div>

  </body>
</html>
